.catalog {
  display: flex;
  justify-content: center;
}

.catalog__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__item {
  border-top: 1px solid #ededed;
  margin-bottom: 24px;

  &--show {
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--show::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
  }
}

.catalog__wrapper {
  display: flex;
}

.catalog__table {
  width: 140px;
  margin-top: 20px;
}

.catalog__table-header {
  font-size: 16px;
  line-height: 20px;
  width: 60%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.catalog__table-row {
  font-size: 12px;
  line-height: 16px;
}

.catalog__table-column {
  padding: 0;

  &--param {
    text-align: left;
  }

  &--value {
    text-align: right;
  }
}

.catalog__button {
  margin-top: 23px;
}

.catalog__show-button {
  margin-top: 18px;
}

.catalog__show-header {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog__show-caption {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-top: 9px;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
}
