.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 447px;
}

.explanation__header {
  width: 87.5%;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-top: 19px;
  text-align: left;
}

.explanation__list {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin-top: 18px;
  text-align: center;
}

.explanation__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
}

.explanation__text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-align: left;

  &--leaf {
    &::before {
      content: "";
      display: block;
      height: 60px;
      width: 60px;
      background-color: #68b738;
      background-image: url("../../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 20px;
      flex-shrink: 0;
    }
  }

  &--liquid {
    &::before {
      content: "";
      display: block;
      height: 60px;
      width: 60px;
      background-color: #68b738;
      background-image: url("../../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 20px;
      flex-shrink: 0;
    }
  }

  &--cutlery {
    &::before {
      content: "";
      display: block;
      height: 60px;
      width: 60px;
      background-color: #68b738;
      background-image: url("../../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 20px;
      flex-shrink: 0;
    }
  }

  &--clock {
    &::before {
      content: "";
      display: block;
      height: 60px;
      width: 60px;
      background-color: #68b738;
      background-image: url("../../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 20px;
      flex-shrink: 0;
    }
  }
}

@media (min-width: @tablet-width) {
  .explanation {
    height: 780px;
    padding-top: 26px;
    width: 92%;
    margin: 0 auto;
  }

  .explanation__header {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    width: 100%;
    text-align: left;
  }

  .explanation__list {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 63px;
  }

  .explanation__item {
    margin-top: 10px;
    width: 46%;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    &--first {
      &::before {
        content: "1";
        z-index: -1;
        color: #f2f2f2;
        font-size: 281px;
        line-height: 200px;
        display: block;
        position: absolute;
        right: 96px;
      }
    }

    &--second {
      &::before {
        content: "2";
        z-index: -1;
        color: #f2f2f2;
        font-size: 281px;
        line-height: 200px;
        display: block;
        position: absolute;
        right: 78px;
      }
    }

    &--third {
      &::before {
        content: "3";
        z-index: -1;
        color: #f2f2f2;
        font-size: 281px;
        line-height: 200px;
        display: block;
        position: absolute;
        right: 79px;
      }
    }

    &--fourth {
      &::before {
        content: "4";
        z-index: -1;
        color: #f2f2f2;
        font-size: 281px;
        line-height: 200px;
        display: block;
        position: absolute;
        right: 75px;
      }
    }
  }

  .explanation__text {
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    width: 76%;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }
}

@media (min-width: @desktop-width) {
  .explanation {
    padding-top: 0;
    height: 432px;
    width: 84.7%;
  }

  .explanation__header {
    margin-top: -6px;
  }

  .explanation__list {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 61px;
  }

  .explanation__item {
    width: 245px;
    min-height: 228px;

    &--first {
      &::before {
        right: 17px;
      }
    }

    &--second {
      &::before {
        right: 0;
      }
    }

    &--third {
      &::before {
        right: -2px;
      }
    }

    &--fourth {
      &::before {
        right: -5px;
      }
    }
  }

  .explanation__text {
    width: 100%;
  }
}
