.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra__header {
  margin-top: 54px;
  padding-left: 6.25%;
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    height: 3px;
    width: calc(100% - 243px - 6.25%);
    background-color: #68b738;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.extra__list {
  margin-top: 33px;
  width: 87.5%;
  list-style: none;
  padding: 0;
}

.extra__product {
  border-top: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  height: 129px;
}

.extra__name {
  margin: 0;
  margin-top: 14px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.extra__wrapper {
  margin-top: 14px;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

.extra__measure {
  margin: 0;
}

.extra__price {
  margin: 0;
}

.extra__order {
  margin-top: 14px;
  margin-bottom: 17px;
}

.extra__promo {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #cdcdcd;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 363px;
  width: 87.5%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
    background-size: 100%;
  }

  &::before {
    content: "";
    display: block;
    margin-top: 104px;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.extra__appeal {
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  margin-top: 60px;
}

@media (min-width: @tablet-width) {
  .extra {
    height: 1085px;
  }

  .extra__header {
    width: 100%;
    padding-left: 8.7%;
    font-size: 36px;
    line-height: 36px;
    margin-top: 68px;

    &::before {
      content: "";
      height: 3px;
      width: calc(8.7% - 39px);
      background-color: #68b738;
      position: absolute;
      left: 0;
      top: 57%;
    }

    &::after {
      content: "";
      height: 3px;
      width: calc(100% - 374px - 8.7%);
      background-color: #68b738;
      position: absolute;
      right: 0;
      top: 57%;
    }
  }

  .extra__list {
    margin-top: 79px;
    width: 92%;
    border-bottom: 1px solid #cdcdcd;
  }

  .extra__product {
    height: 139px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .extra__name {
    width: 161px;
    text-align: left;
    margin-top: 26px;
    font-size: 20px;
    line-height: 20px;
  }

  .extra__wrapper {
    width: 250px;
    justify-content: flex-end;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .extra__price {
    margin-left: 50px;

    &--water {
      margin-left: 60px;
    }
  }

  .extra__order {
    margin-top: 10px;
    width: 100%;
  }

  .extra__promo {
    flex-direction: row;
    width: 707px;
    height: 200px;
    margin-top: 68px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
      background-size: 100%;
    }

    &::before {
      margin-top: -10px;
      margin-left: 88px;
    }
  }

  .extra__appeal {
    margin-top: 4px;
    margin-left: 275px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    height: 567px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -1px;
  }

  .extra__list {
    height: 290px;
    margin-top: 0;
    margin-left: 7.6%;
    margin-bottom: 47px;
    width: 62.15%;
  }

  .extra__product {
    height: 72px;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    align-items: center;
  }

  .extra__wrapper {
    margin: 0;
    margin-left: auto;
    margin-right: 4.4%;
    margin-top: 7px;
    width: 31.9%;
    justify-content: space-between;
  }

  .extra__promo {
    margin-top: 0;
    margin-right: 7.65%;
    margin-bottom: 45px;
    width: 245px;
    height: 290px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    flex-direction: column;
    justify-content: flex-start;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
      background-size: 100%;
    }


    &::before {
      margin-left: 3px;
      margin-top: 65px;
    }
  }

  .extra__appeal {
    margin-left: 0;
    text-align: center;
    margin-top: 60px;
  }

  .extra__header {
    width: 100%;
    margin-top: 35px;
    padding-left: 7.6%;

    &::before {
      width: calc(7.6% - 39px);
      top: 62%;
    }

    &::after {
      width: calc(100% - 7.6% - 374px);
      top: 62%;
    }
  }

  .extra__order {
    width: 245px;
    margin: 0;
    margin-right: -1px;
  }

  .extra__price {
    &--water {
      padding-right: 8px;
    }
  }
}
