.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fieldset {
  border: none;
  width: 85%;

  &--underline {
    border-bottom: 1px solid #ededed;
  }
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__input-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__legend {
  font-size: 24px;
  line-height: 24px;
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
}
