.page-footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-wrapper {
  height: 98px;
}

.page-footer__logo {
  margin-top: 44px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-footer__logo-wrapper {
    margin-top: 0;
    width: 33.3%;
    height: 100%;
    display: flex;
  }

  .page-footer__logo {
    width: 128px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 110px;
    padding-right: 110px;
  }
}
