.programs__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__item {
  padding-left: 21px;
  padding-right: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 87.5%;
  height: 266px;
  background-color: #f2f2f2;
  margin-top: 21px;
}

.programs__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-top: 24px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    margin-right: 20px;
  }
}

.programs__svg {
  position: absolute;
  width: 50px;
  height: 50px;

  &--slim {
    top: -3px;
  }

  &--pro {
    width: 67px;
    left: -9px;
  }
}

.programs__button {
  margin-top: 20px;
}

.programs__description {
  display: block;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  min-height: 85px;
}

@media (min-width: @tablet-width) {
  .programs__list {
    width: 100%;
  }

  .programs__item {
    padding-left: 53px;
    padding-right: 62px;
    width: 92%;
    min-height: 372px;
    position: relative;
    margin-top: 0;

    &--pro {
      margin-top: 30px;
    }
  }

  .programs__header {
    font-size: 36px;
    margin-top: 76px;

    &::before {
      margin-right: 0;
      height: 200px;
      width: 200px;
      position: absolute;
      top: 15px;
      right: 0;
    }
  }

  .programs__svg {
    &--slim {
      width: 199px;
      height: 200px;
      top: -1px;
      right: 0;
    }

    &--pro {
      width: 267px;
      height: 150px;
      top: 40px;
      left: auto;
      right: -34px;
    }
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 26px;
    margin-left: -1px;

    &--slim {
      width: 63%;
    }

    &--pro {
      width: 58%;
    }
  }

  .programs__button {
    margin-top: 39px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    display: flex;
    justify-content: center;
    height: 532px;
  }

  .programs__header {
    margin-top: 40px;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: flex-start;


    &::before {
      position: static;
      height: 100px;
      width: 100px;
      margin-right: 50px;
    }
  }

  .programs__svg {
    &--slim {
      width: 100px;
      height: 100px;
      left: 0;
    }

    &--pro {
      width: 150px;
      height: 120px;
      left: -20px;
      top: 0;
    }
  }

  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .programs__item {
    width: 570px;
  }

  .programs__description {
    width: 462px;
  }
}
