.programs__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__item {
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
  margin-top: 22px;
}

.programs__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 32px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;

  &--losing-weight {
    &::before {
      content: "";
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 55%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-image: url("../../img/icon-cat-slim.svg");
    }
  }

  &--mass-gain {
    &::before {
      content: "";
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 50px;
      height: 30px;
      border-radius: 50%;
      background-image: url("../../img/icon-cat-pro.svg");
    }
  }
}

.programs__button {
  margin-top: 23px;
}

.programs__description {
  display: block;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin: 0;
  margin-top: 27px;
  font-size: 14px;
  line-height: 18px;
  width: 225px;
}

@media (min-width: @tablet-width) {
  .programs__item {
    padding-left: 55px;
    width: 708px;
    min-height: 372px;
    position: relative;
  }

  .programs__header {
    font-size: 36px;
    margin-top: 80px;

    &--losing-weight {
      &::before {
        position: absolute;
        top: 20%;
        right: 7%;
        height: 210px;
        width: 210px;
      }
    }

    &--mass-gain {
      &::before {
        position: absolute;
        top: 20%;
        right: 7%;
        height: 210px;
        width: 210px;
      }
    }
  }

  .programs__description {
    width: 372px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 26px;
  }

  .programs__button {
    margin-bottom: 63px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    display: flex;
    justify-content: center;
    height: 532px;
  }

  .programs__header {
    margin-top: 40px;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    &--losing-weight {
      &::before {
        position: static;
        background-size: 70%;
        height: 60px;
        width: 40px;
        margin-right: 64px;
      }
    }

    &--mass-gain {
      &::before {
        position: static;
        background-size: 100%;
        height: 60px;
        width: 60px;
        margin-right: 48px;
      }
    }
  }

  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .programs__item {
    width: 570px;
  }

  .programs__description {
    width: 462px;
  }
}
