.promo {
  height: 480px;
  width: 320px;
  margin: 0 auto;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    background-size: 100%;
  }
}

.promo__header {
  font-size: 36px;
  line-height: 36px;
  color: white;
  margin: 0;
  margin-top: 28px;
  text-align: center;
}

.promo__appeal {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
  margin-top: 28px;
}

.promo__image {
  margin-top: 28px;
}

@media (min-width: @tablet-width) {
  .promo {
    height: 844px;
    width: auto;
    background: none;
    padding-top: 35px;
    padding-left: 116px;
    align-items: flex-start;
    position: relative;
  }

  .promo__header {
    margin: 0;
    width: 528px;
    font-size: 60px;
    line-height: 60px;
    color: black;
    font-weight: normal;
    text-align: left;
  }

  .promo__appeal {
    font-size: 20px;
    line-height: 20px;
    color: black;
    width: 528px;
    font-weight: normal;
    margin-top: 40px;
    letter-spacing: 0.1px;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    left: 29px;
    width: 709px;
    height: 609px;
    margin-top: 0;
    z-index: -1;
  }

  .promo__button {
    margin-top: 48px;
    margin-left: 3px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    height: 696px;
    padding-left: 13.2%;
    padding-top: 118px;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/index-background-desktop@2x.jpg");
      background-size: 50%;
    }
  }

  .promo__header {
    padding-top: 105px;
  }

  .promo__image {
    z-index: 2;
    width: 552px;
    height: 499px;
    left: 38.9%;
    top: 142px;
  }

  .promo__button {
    margin-top: 53px;
    margin-left: 0;
  }
}
